header .badges{
    position: fixed;
    top: 130px;
    right: 12px;
    z-index: 98;
}

header .badges .badge{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.15);
    cursor: pointer;

}

@media (max-width: 1024px){
    header .badges{
        transform: translateX(200px);
    }
}

/* MAIN SECTION */
main{
    border-bottom: 5px solid var(--accent-color);
    overflow: hidden;
}

main .mainintro img{
    max-width: 100%;
    height: auto;
    border: 0;
}

main .mainmobile img{
    display: none;
}

@media (max-width: 1024px){
    .mainintro img{
        display: none;
    }

    main .mainmobile img{
        display: block;
        max-width: 100%;
        height: auto;
        border: 0;
    }
}

/* SECTION */

section .newnotice{
    border-bottom: 5px solid var(--accent-color);
}

section .newnotice .noticetitle{
    height: 12vh;
    border-bottom: 5px solid var(--accent-color);
    transition: .3s;
    display: flex;
    align-items: center;
}

section .newnotice .noticetitle h1{
    font-size: 65px;
    font-weight: 800;
    padding-top: 5px;
}

@media (max-width: 1024px){
    section .newnotice .noticetitle{
        height: 100%;
    }

    section .newnotice .noticetitle h1{
        font-size: 30px;
        height: 100%;
        padding: 25px 0;
        overflow: hidden;    
    }
}

section .newnotice .noticevideo{
    height: 600px;
    background-color: #333;
    position: relative;
    overflow: hidden;
    border-bottom: 5px solid var(--accent-color);
}

section .newnotice .noticevideo .youtube_area{
    width: 1920px;
    position: absolute;
}

section .newnotice .noticevideo .youtube_area::before{
    content: '';
    display: block;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}

section .newnotice .noticevideo .youtube_cover{
    background-image: url("/HOME/home_img/video_cover_pattern.png");
    background-color: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px){
    section .newnotice .noticevideo{
        height: 400px;
    }
    section .newnotice .noticevideo .youtube_area{
        width: 100%;
        height: 100%;
    }
}

#player{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

section .noticevideo .floatingbtn{
    position: absolute;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
}

section .newnotice .noticebrief{
    margin-top: 20px;
    margin-bottom: 20px;
}

section .newnotice .noticebrief p{
    font-size: 40px;
    font-weight: 800;
}


@media (max-width: 1024px){
    
    section .noticevideo .floatingbtn img{
        width: 70px;
        height: 70px;
    }

    section .newnotice .noticebrief p{
        font-size: 20px;
        overflow: hidden;
    }
}

section .newproduct{
    margin: 0 auto;
    width: 100%;
}

section .newproduct .productwrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

section .newproduct .productwrapper li{
    width: calc(100%/4);
    height: 100%;
    border-bottom: 5px solid var(--accent-color);
    border-right: 5px solid var(--accent-color);
    box-sizing: border-box;

}

section .newproduct .productwrapper li:last-child{
    border-right: 0;    
}

section .newproduct .productwrapper li>a{
    cursor: pointer;
    width: 100%;
    height: 100%;
}

section .newproduct .productwrapper li img{
    margin: auto;
    padding: 5px 0 5px 0;
}

section .newproduct .productwrapper li .producttext{
    height: 60px;
    margin: auto;
    overflow: hidden;
}

section .newproduct .productwrapper li .producttext strong{
    font-weight: normal;
    font-size: 15px;
}

section .newproduct .productwrapper li .producttext h1{
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

section .newproduct .productwrapper li .seemore{
    border-top: 5px solid var(--accent-color);
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    transition: 0.2s;
    padding-top: 10px;
    box-sizing: border-box;
}

section .newproduct .productwrapper li:hover .seemore{
    color: #fff;
}

@media (max-width: 1024px){
    section .newproduct .productwrapper li{
        width: calc(100%/2);
        height: 100%;
        border-bottom: 5px solid var(--accent-color);
    }

    section .newproduct .productwrapper li:hover .seemore{
        background-color: var(--main-color);
        color: #fff;
    }

    section .newproduct .productwrapper li img{
        max-width: 100%;
        height: auto;
        padding-top: 20px;
    }

    section .newproduct .productwrapper li:nth-child(2),
    section .newproduct .productwrapper li:nth-child(4){
        border-right: 0;
    }

    section .newproduct .productwrapper li .seemore{
        overflow: hidden;
        padding: 10px;
        font-size: 1.2rem;
    }

    section .newproduct .productwrapper li .producttext{
        height: 50px;
        margin: auto;
        overflow: hidden;
    }

    section .newproduct .productwrapper li .producttext strong{
        font-weight: normal;
        font-size: 12px;
    }

    section .newproduct .productwrapper li .producttext h1{
        font-size: 1rem;
        overflow: hidden;
    }
}

section .newproduct .productwrapper li .seemore::after{
    content: '';
    display: block;
    border-bottom: 52px solid var(--accent-color);
    margin-top: -40px;
    width: 0;
    transition: 0.2s;
}

section .newproduct .productwrapper li:hover .seemore::after{
    width: 100%;
    background-color: #ae5761;
}

@media (max-width: 1024px){

    section .newproduct .productwrapper li .seemore::after{
        display: none;
    }
    section .newproduct .productwrapper li:hover .seemore::after{
        display: none;
    }
    section .newproduct .productwrapper li .seemore::after{
        display: none;
    }
    section .newproduct .productwrapper li:hover .seemore::after{
        display: none;
    }
}

section .wheretobuy .wheretitle{
    height: 12vh;
    border-bottom: 5px solid var(--accent-color);
    display: flex;
    align-items: center;
}

section .wheretobuy .wheretitle h1{
    font-size: 65px;
    font-weight: 800;
    padding-top: 5px;
}

section .wheretobuy .shoptitle{
    height: 12vh;
    border-bottom: 5px solid var(--accent-color);
    background-color: var(--main-color);
    display: flex;
    align-items: center;
}

section .wheretobuy .shoptitle:hover::after{
    width: 100%;
}

section .wheretobuy .shoptitle a{
    width: 100%;
    height: 100%;
    display: block;
 }

section .wheretobuy .shoptitle h1{
    font-size: 65px;
    font-weight: 800;
    padding-top: 5px;
}

section .wheretobuy .shoptitle:hover h1{
    color: #fff;
}

@media (max-width: 1024px){

    section .wheretobuy .wheretitle,
    section .wheretobuy .shoptitle{
        overflow: hidden;
        height: 100%;
    }

    section .wheretobuy .wheretitle h1,
    section .wheretobuy .shoptitle h1{
        font-size: 30px;
        height: 100%;
        padding: 25px 0;
        overflow: hidden;
}

section .wheretobuy .shoptitle:hover h1{
    color: white;
}
section .wheretobuy .shoptitle:hover{
    background-color: var(--main-color);
}
}

section .wheretobuy .addresswrapper{
    display: flex;
    width: 100%;
    height: 400px;
    border-bottom: 5px solid var(--accent-color);
}

section .wheretobuy .addresswrapper .kraddress,
section .wheretobuy .addresswrapper .laaddress{
    width: 100%;
    height: 100%;
    border-right: 5px solid var(--accent-color);
    padding: 10px 0 0 20px;
    box-sizing: border-box;
}

section .wheretobuy .addresswrapper .laaddress{
    border-right: none;
}

section .wheretobuy .addresswrapper .kraddress p,
section .wheretobuy .addresswrapper .laaddress p{
    font-size: 40px;
    font-weight: 800;

}

@media (max-width: 1024px){
section .wheretobuy .addresswrapper .kraddress p,
section .wheretobuy .addresswrapper .laaddress p{
    font-size: 19px;
    padding-right: 20px;
    overflow: hidden;
}

section .wheretobuy .addresswrapper{
    height: 210px;
}
}

section .monsgoods .slider{
    width: 100%;
}

.bx-wrapper .bx-pager{
    bottom: 10px !important;
}

.bx-wrapper .bx-pager.bx-default-pager a{
    width: 77px !important;
    height: 17px !important;
    margin-right: 2px;
    background: transparent !important;
    outline: none;
    border-radius: 0% !important;
    border: 1px solid rgba(0,0,0,.3);
}

.bx-wrapper .bx-pager.bx-default-pager a.active{
    background: black !important;
}

section .monsgoods .sloganarea{
    border-top: 5px solid var(--accent-color);
    border-bottom: 5px solid var(--accent-color);
    height: 12vh;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
}

section .monsgoods .sloganarea h1{
    font-size: 60px;
    font-weight: 800;
}

section .monsgoods .bx-wrapper{
    box-shadow: none;
    border: 0;
    margin-bottom: 0;
}

@media (max-width: 1024px){

    section .monsgoods .sloganarea{
        height: 100%;
    }

    section .monsgoods .sloganarea h1{
        font-size: 28px;
        text-align: center;
        padding: 10px;
    }

    .bx-wrapper .bx-pager.bx-default-pager a{
        width: 50px !important;
        height: 10px !important;
        margin-right: 2px;
        background: transparent !important;
        outline: none;
        border-radius: 0% !important;
        border: 1px solid rgba(0,0,0,.3);
    }
}