/* COMMON */

body{
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    overflow-x: hidden;
    
}

img{
    display: block;
}

a{
    text-decoration: none;
    color: #333;
    display: block;
}

.marginspace{
    margin-left: 15vw;
}

.marginguide{
    margin-left: 20px;
}

/* Menu Section */
.leftmenubar{
    width: 15vw;
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 5px solid #333;

}

.leftmenubar .menuicon{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 48px;
    cursor: pointer;
}

.btnrotate{
    transform: rotate(-360deg);
    transition: all 0.8s ease-in-out;
}

.btnreverse{
    transform: rotate(180deg);
    transition: all 0.8s ease-in-out;
}

.rightmenubar{
    width: 85vw;
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 99;
    transform: translate(-100vw,0);
    /* opacity: 0; */
    transition: opacity 0.8s ease, transform 0.8s 0.3s ease;

}

.rightmenubar.active{
    transform: translate(15vw,0);
    /* opacity: 1; */
    transition: opacity 0.5s ease, transform 0.8s 0.3s ease;
}

.rightmenubar .toplogo{
    width: 100%;
    height: 8vw;
    /* background-color: blueviolet; */
    position: relative;
    border-bottom: 5px solid #333;
}

.rightmenubar .bottommenu{
    height: 92vw;
}

.rightmenubar .toplogo img{
    width: 250px;
    height: 82px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto 0;
    cursor: pointer;
}

.bottommenu{
    display: flex;
}

.bottommenu .menutext{
    width: calc(85vw/2);
    height: 100%;
    /* background-color: pink; */
}
.bottommenu .menutext ul li{
    border-bottom: 5px solid #333;
    height: 100%;
    padding: 15px 20px;
    font-size: 65px;
    font-weight: 800;
    box-sizing: border-box;
}

.bottommenu .menutext ul li:nth-child(1),
.bottommenu .menutext ul li:nth-child(6){
    height: 100px;
}

.bottommenu .menutext ul li:nth-child(2):hover,
.bottommenu .menutext ul li:nth-child(3):hover,
.bottommenu .menutext ul li:nth-child(4):hover,
.bottommenu .menutext ul li:nth-child(5):hover{
background-color: #ae5761;
}

.bottommenu .menutext ul li:nth-child(2):hover a,
.bottommenu .menutext ul li:nth-child(3):hover a,
.bottommenu .menutext ul li:nth-child(4):hover a,
.bottommenu .menutext ul li:nth-child(5):hover a{
color: #fff;
}

.bottommenu .menutext ul li:first-child{
border-top: 0;
}

.bottommenu .menuimg{
    width: calc(85vw/2);
    height: 100%;
    border-left: 5px solid #333;
}

.swiper-slide img{
    max-width: 100%;
    height: auto;
}

.menuimg .swiper-pagination{
   position: absolute;
   left: 340px !important;
}

.menuimg .swiper-pagination .swiper-pagination-bullet{
    margin-right: 2px;
    background-image: url("/MENU/menu_img/bullet1.png");
    background-repeat: no-repeat;
    width: 77px;
    height: 17px;
    outline: none;
    background-color: transparent;
    border-radius: 0%;
}

.menuimg .swiper-pagination .swiper-pagination-bullet:last-child{
margin-right: 0;
}

.menuimg .swiper-pagination .swiper-pagination-bullet-active{
background-image: url("/MENU/menu_img/bullet-on.png");
}

.menuicon-mobile{
    position: absolute;
    top: 30px;
    right: 20px;
    display: none;

}

.menuicon-mobile .material-icons{
font-size: 50px;
}

.dropmenu-mobile{
  margin-top: 15vh;
  height: 100%;
  position: fixed;
  width: 100vw;
  z-index: 80;
  background-color: #fff;
  transition: transform 0.8s ease;
  display: none;
}

.dropmenu-mobile li{
    border-bottom: 5px solid #333;
}

.dropmenu-mobile li:hover{
   background-color: #ae5761;
}

.dropmenu-mobile .dropdown-mobile li:hover a{
color: #fff;
}

.dropmenu-mobile .dropdown-mobile li a{
    color: #333;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
}

.dropmenu-mobile .dropdown-mobile li a{
padding: 53px;
}



@media (max-width: 768px){
    .rightmenubar{
        display: none;
    }

    .leftmenubar{
        display: none;
    }

    .marginspace{
        width: 100%;
        margin-left: 0;
    }

    .home_logo.mobile{
        position: fixed;
        z-index: 99;
        height: 15vh;
        background-color: #fff;
    }

    .menuicon-mobile{
        display: block;
        z-index: 99;
        position: fixed;
    }

    .dropmenu-mobile{
        display: none;
    }

    .dropmenu-mobile.active{
        display: block;
        z-index: 90;
    }
}


/* HEADER SECTION */

header{
    /* width: 100%; */
    position: relative;
}

header .home_logo{
    width: 100%;
    height: 15vh;
    position: relative;
    border-bottom: 5px solid #333;
}

header .home_logo img{
    width: 250px;
    height: 82px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto 0;
    cursor: pointer;
}

/* ABOUT SECTION */

.aboutintro{
border-bottom: 5px solid #333;
}

.aboutintro .abouttitle{
    height: 12vh;
    border-bottom: 5px solid #333;
    /* background-color: #ae5761; */
}

.aboutintro .abouttitle h1{
    font-size: 65px;
    font-weight: 800;
    padding-top: 5px;
}

.aboutintro .aboutbrief h2{
    font-size: 40px;
    font-weight: 800;
    margin-top: 20px;
}

.aboutintro .aboutbrief .aboutstickers{
    display: flex;
    justify-content: center;
    margin: 20px 0 20px;

}

.mobilestoreimg{
    display: none;
}

.aboutintro .aboutbrief .aboutstickers .sticker {
    width: 200px;
    height: 200px;
    margin-left: 30px;
}

.example-1 .sticker-img {
    background-image: url('./about_img/sticker1.png');
    background-size: cover;
}

.example-2 .sticker-img {
    background-image: url('./about_img/sticker2.png');
    background-size: cover;
}

.example-3 .sticker-img{
    background-image: url('./about_img/sticker3.png');
    background-size: cover;
}


.aboutintro .aboutbrief .aboutstickers img:last-child{
margin-right: 0;
}

.aboutintro .aboutbrief p{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

@media (max-width: 768px){
    .aboutintro{
        padding-top: 15vh;

    }
    .marginguide{
        margin: 0 20px 0;
    }

    .aboutintro .abouttitle h1{
        font-size: 30px;
        height: 100%;
        padding-top: 25px;
    }

    .aboutintro .aboutbrief h2{
        font-size: 25px;
    }

    .aboutintro .aboutbrief p{
        font-size: 25px;
    }

    .aboutintro .aboutbrief .aboutstickers .sticker {
        display: none;
    }

    .mobilestoreimg{
        display: block;
        margin-top: 30px;
    }

    .mobilestoreimg img{
        height: 300px;
        min-width: 100%;
    }

}

/* SECTION */

section .aboutlogo{
    border-bottom: 5px solid #333;
}

section .aboutlogo .logotitle{
    height: 12vh;
    border-bottom: 5px solid #333;
}
section .aboutlogo .logotitle h1{
    font-size: 65px;
    font-weight: 800;
    padding-top: 5px;
}

section .aboutlogo .logobrief img{
    width: 820px;
    height: 300px;
    margin: auto;
    margin-top: 20px;

}
section .aboutlogo .logobrief p{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

section .aboutcolor{
    border-bottom: 5px solid #333;
}
section .aboutcolor .colortitle{
    height: 12vh;
    border-bottom: 5px solid #333;
}

section .aboutcolor .colortitle h1{
    font-size: 65px;
    font-weight: 800;
    padding-top: 5px;
}


@media (max-width: 768px){

    section .aboutlogo .logotitle h1,
    section .aboutcolor .colortitle h1{
        font-size: 30px;
        font-weight: 800;
        padding-top: 25px;
    }

    section .aboutlogo .logobrief p{
        font-size: 25px;
    }

    section .aboutlogo .logobrief img{
        max-width: 100%;
        height: auto;
    }

}

section .aboutcolor .colorwrapper{
    border-bottom: 5px solid #333;
    display: flex;
}

section .aboutcolor .colorwrapper .colordetails{

    width: calc(85vw/2);
    height: 300px;
    border-right: 5px solid #333;
}

section .aboutcolor .colorwrapper .colordetails span{
    display: block;
    height: calc(300px/3);
    border-bottom: 5px solid #333;
    box-sizing: border-box;

}

section .aboutcolor .colorwrapper .colordetails span::after{
    content: '';
    display: block;
    border-bottom: 95px solid #ae5761;
    margin-top: -98px;
    width: 0;
    transition: 0.8s;
}

section .aboutcolor .colorwrapper .colordetails span:hover::after{
width: 100%;
}

section .aboutcolor .colorwrapper .colordetails span p{
    font-size: 40px;
    font-weight: 800;
    padding: 25px;
}
section .aboutcolor .colorwrapper .colordetails span:hover p{
    color:#fff
}

section .aboutcolor .colorwrapper .colordetails span:nth-child(3){
    border-bottom: 5px solid #333;
}

section .aboutcolor .colorwrapper .onecolor{
    width: calc(85vw/2);
    height: 300px;
    background-color: #ae5761;
}

section .aboutcolor .colordiverse .topcolor,
section .aboutcolor .colordiverse .btmcolor{
    display: flex;
}

section .aboutcolor .colordiverse .topcolor{
    border-bottom: 5px solid #333;
}

section .aboutcolor .colordiverse p{
    font-size: 40px;
    font-weight: 800;
    padding: 25px;
}

section .aboutcolor .colordiverse .topcolor div,
section .aboutcolor .colordiverse .btmcolor div{
    width: calc(85vw/2);
    height: 300px;
    border-right: 5px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .aboutcolor .colordiverse .topcolor div:nth-child(2),
section .aboutcolor .colordiverse .btmcolor div:nth-child(2){
border: 0;
}

section .aboutcolor .colordiverse .topcolor div:nth-child(1){
background-color: #333;
color: #fff;
}
section .aboutcolor .colordiverse .topcolor div:nth-child(2){
background-color: #fff;
color: #333;
}
section .aboutcolor .colordiverse .btmcolor div:nth-child(1){
background-color: #fff;
color: #ae5761;
}

section .aboutcolor .colordiverse .btmcolor div:nth-child(2){
background-color: #ae5761;
color: #333;
}

@media (max-width: 768px){

    section .aboutcolor .colorwrapper{
        border-bottom: 5px solid #333;
    }
    
    section .aboutcolor .colorwrapper .colordetails{
        width: 100%;
        height: 300px;
        border-right: 0;
    }
    
    section .aboutcolor .colorwrapper .colordetails span{
        
        height: 100px;
        border-bottom: 5px solid #333;
        display: flex;
        align-items: center;
        padding-left: 20px;
    
    }
    section .aboutcolor .colorwrapper .colordetails span p{
        font-size: 25px;
        padding: 0;
    }

    section .aboutcolor .colorwrapper .onecolor{
        display: none;
    }

    section .aboutcolor .colorwrapper .colordetails span::after{
        display: none;
    }
    
    section .aboutcolor .colorwrapper .colordetails span:hover::after{
    display: none;
    }

    section .aboutcolor .colorwrapper .colordetails span:hover p{
        color: #fff
    }

    section .aboutcolor .colorwrapper .colordetails span:hover{
        background-color: #ae5761;
    }

    section .aboutcolor .colorwrapper .colordetails span:nth-child(3){
        border-bottom: none;
    }

    section .aboutcolor .colordiverse .topcolor div,
section .aboutcolor .colordiverse .btmcolor div{
    width: 100%;
    height: 200px;
    border-right: 5px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .aboutcolor .colordiverse p{
    font-size: 20px;
    padding: 0;
}


}



/* FOOTER SECTION */


footer .flogo{
    margin: 20px 0 10px 0px;
}

footer .fmenu{
    display: flex;
    flex-wrap: wrap;
}

footer .fmenu li+li{
    margin-left: 15px;
}

footer .fmenu li:last-child{
    margin-left: none;
}

footer .fmenu li a{
    font-size: 25px;
    font-weight: 800;
}

footer p{
    margin: 10px 0 20px 20px;
    font-weight: 600;
}

#go-top{
    width: 42px;
    height: 42px;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 81;
}

@media (max-width: 768px){
    footer p{
        padding: 10px 0;
    }
}