.collectitle{
    height: 12vh;
    border-bottom: 5px solid var(--accent-color);
    display: flex;
    align-items: center;
}

.collectitle h1{
    font-size: 65px;
    font-weight: 800;
    padding-top: 5px;
}

@media (max-width: 1024px){
    .collectitle{
        padding-top: 13vh;
        height: 100%;
        
    }
    .collectitle h1{
        font-size: 30px;
        height: 100%;
        padding: 20px 0;
        overflow: hidden;
    }
} 

.collecmenu input[type=radio] {
    display: none;
}

#tab-1:checked ~ .tab label:nth-child(1),
#tab-2:checked ~ .tab label:nth-child(2),
#tab-3:checked ~ .tab label:nth-child(3),
#tab-4:checked ~ .tab label:nth-child(4){
    background-color: var(--main-color);
    box-shadow: none;
    color: #fff;
}

.content > div {
    display: none;
}

#tab-1:checked ~ .content div:nth-child(1),
#tab-2:checked ~ .content div:nth-child(2),
#tab-3:checked ~ .content div:nth-child(3),
#tab-4:checked ~ .content div:nth-child(4){
    display: block;
}

#tab-2:checked ~ .content div:nth-child(2),
#tab-3:checked ~ .content div:nth-child(3),
#tab-4:checked ~ .content div:nth-child(4){
    border-bottom: 5px solid var(--accent-color);
    min-height: 200px;
    margin-left: 0;
    margin-right: 0;
}

.collecmenu {
    margin: 0 auto;
    width: 85vw;
}

.tab {
    overflow: hidden;
    border-bottom: 5px solid var(--accent-color);
}

.tab label {
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
    float: left;
    width: 25%;
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    border-right: 5px solid var(--accent-color);
    box-sizing: border-box;
}

.tab label:last-child {
    border-right: 0;
}

.content {
    background-color: #fff;
    min-height: 200px;
}

.content-dis:nth-child(2),
.content-dis:nth-child(3),
.content-dis:nth-child(4){
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 20px;
}

.collecproducts .collecwrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.collecproducts .collecwrapper li{
    width: calc(100%/4);
    height: 100%;
    border-right: 5px solid var(--accent-color);
    box-sizing: border-box;
}

.collecproducts .collecwrapper li:nth-child(4),
.collecproducts .collecwrapper li:last-child{
    border-right: 0;
}

.collecproducts .collecwrapper li>a{
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.collecproducts .collecwrapper li img{
    width: 200px;
    height: 600px;
    margin: auto;
    padding: 5px 0 5px 0;
}

.collecproducts .collecwrapper li .producttext{
    height: 40px;
    margin: auto;
    padding: 0;
}

.collecproducts .collecwrapper li .producttext h1{
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

.collecproducts .collecwrapper li .seemore{
    border-top: 5px solid var(--accent-color);
    border-bottom: 5px solid var(--accent-color);
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    transition: 0.2s;
    padding-top: 10px;
    box-sizing: border-box;
}

.collecproducts .collecwrapper li .seemore::after{
    content: '';
    display: block;
    border-bottom: 48px solid #ae5761;
    margin-top: -40px;
    width: 0;
    transition: 0.2s;
}

.collecproducts .collecwrapper li:hover .seemore::after{
    width: 100%;
    background-color: #ae5761;
}

.collecproducts .collecwrapper li:hover .seemore{
    color: #fff;
}

@media (max-width: 1024px){
.collecproducts .collecwrapper li .seemore::after{
    display: none;
}

.collecproducts .collecwrapper li:hover .seemore::after{
    display: none;
}

.collecproducts .collecwrapper li:hover .seemore{
    background-color: #ae5761;
    color: #fff;
}

.collecproducts .collecwrapper li{
    min-width: calc(100%/2);
    height: 100%;
    border-right: 5px solid var(--accent-color);
}

.collecproducts .collecwrapper li:nth-child(2),
.collecproducts .collecwrapper li:nth-child(6){
     border-right: 0;
}

.collecproducts .collecwrapper li .seemore{
    border-top: 5px solid var(--accent-color);
    height: 45px;
    font-weight: 800;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 0;
}

.collecproducts .collecwrapper li img{
    width: 100px;
    height: auto;
    margin: auto;
    padding: 5px 0 5px 0;
    box-sizing: border-box;
}

.tab label {
    font-size: 1.2rem;
    margin: 0;
}

.collecmenu {
    margin: 0 auto;
    width: 100%;
}

.content-dis:nth-child(2),
.content-dis:nth-child(3),
.content-dis:nth-child(4){
    font-size: 100%;
}

.collecproducts .collecwrapper li .producttext h1{
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}
} 