/* COMMON */


body{
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    overflow-x: hidden;
    
}

img{
    display: block;
}

a{
    text-decoration: none;
    color: #333;
    display: block;
}

.marginspace{
    margin-left: 15vw;
}

.marginguide{
    margin-left: 20px;
}

/* Menu Section */
.leftmenubar{
    width: 15vw;
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 5px solid #333;

}

.leftmenubar .menuicon{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 48px;
    cursor: pointer;
}

.btnrotate{
    transform: rotate(-360deg);
    transition: all 0.8s ease-in-out;
}

.btnreverse{
    transform: rotate(180deg);
    transition: all 0.8s ease-in-out;
}

.rightmenubar{
    width: 85vw;
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 99;
    transform: translate(-100vw,0);
    /* opacity: 0; */
    transition: opacity 0.8s ease, transform 0.8s 0.3s ease;

}

.rightmenubar.active{
    transform: translate(15vw,0);
    /* opacity: 1; */
    transition: opacity 0.5s ease, transform 0.8s 0.3s ease;
}

.rightmenubar .toplogo{
    width: 100%;
    height: 8vw;
    /* background-color: blueviolet; */
    position: relative;
    border-bottom: 5px solid #333;
}

.rightmenubar .bottommenu{
    height: 92vw;
}

.rightmenubar .toplogo img{
    width: 250px;
    height: 82px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto 0;
    cursor: pointer;
}

.bottommenu{
    display: flex;
}

.bottommenu .menutext{
    width: calc(85vw/2);
    height: 100%;
    /* background-color: pink; */
}
.bottommenu .menutext ul li{
    border-bottom: 5px solid #333;
    height: calc(92vw/13);
    padding: 15px 20px;
    font-size: 65px;
    font-weight: 800;
    box-sizing: border-box;
}

.bottommenu .menutext ul li:nth-child(2):hover,
.bottommenu .menutext ul li:nth-child(3):hover,
.bottommenu .menutext ul li:nth-child(4):hover,
.bottommenu .menutext ul li:nth-child(5):hover{
background-color: #ae5761;
}

.bottommenu .menutext ul li:first-child{
border-top: 0;
}

.bottommenu .menuimg{
    width: calc(85vw/2);
    height: 100%;
    border-left: 5px solid #333;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
}

.menuimg .swiper-pagination{
   position: absolute;
   left: 340px !important;
}

.menuimg .swiper-pagination .swiper-pagination-bullet{
    margin-right: 2px;
    background-image: url("/MENU/menu_img/bullet1.png");
    background-repeat: no-repeat;
    width: 77px;
    height: 17px;
    outline: none;
    background-color: transparent;
    border-radius: 0%;
}

.menuimg .swiper-pagination .swiper-pagination-bullet:last-child{
margin-right: 0;
}

.menuimg .swiper-pagination .swiper-pagination-bullet-active{
background-image: url("/MENU/menu_img/bullet-on.png");
}

/* HEADER SECTION */
header{
    /* width: 100%; */
    position: relative;
}

header .home_logo{
    width: 100%;
    height: 8vw;
    position: relative;
    border-bottom: 5px solid #333;
}

header .home_logo img{
    width: 250px;
    height: 82px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto 0;
    cursor: pointer;
}


/* SECTION */
section .detailstitle{
height: 6vw;
border-bottom: 5px solid #333;
}

section .detailstitle h1{
font-size: 65px;
font-weight: 800;
padding-top: 5px;
}

section .prowrappers{
    width: 85vw;
    display: flex;
    border-bottom: 5px solid #333;
    
}

section .prowrappers .leftgallery{
    width: calc(100%/2);
}

section .prowrappers .leftgallery .imgs .bgimg{
    width: 100%;
    height: 600px;
    border-bottom: 5px solid #333;
    border-right: 5px solid #333;
    background-color: #ae5761;
    box-sizing: border-box;
}

section .prowrappers .leftgallery .imgs .bgimg:nth-child(1){
background-image: url('/PRODUCTDETAILS/details_img/details2.jpg');
background-size: cover;
background-position-x: -50px;
}

section .prowrappers .leftgallery .imgs .bgimg:nth-child(2){
    background-image: url('/PRODUCTDETAILS/details_img/details3.jpg');
    background-size: cover;
    background-position-x: -50px;
    }

section .prowrappers .leftgallery .imgs .bgimg:nth-child(3){
    background-image: url('/PRODUCTDETAILS/details_img/details1.jpg');
    background-size: cover;
    background-position-x: -50px;
}

section .prowrappers .leftgallery .imgs .bgimg:nth-child(4){
    background-image: url('/PRODUCTDETAILS/details_img/details4.jpg');
    background-size: cover;
    background-position-x: -50px;
    border-bottom: 0;
}

section .prowrappers .rightbrief{
    width: calc(100%/2);
}

section .prowrappers .rightbrief .texttitle{
    padding: 30px;
}

section .prowrappers .rightbrief .texttitle h1{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
}

section .prowrappers .rightbrief .texttitle p{
    font-size: 18px;
    font-weight: 600;
}


section .prowrappers .rightbrief .texttoggle{
display: flex;
align-items: center;
margin-bottom: 20px;
padding-left: 30px;
}

section .prowrappers .rightbrief .texttoggle p{
font-size: 16px;
font-weight: 600;
}

section .prowrappers .rightbrief .texttoggle .toggle-icon,
section .prowrappers .rightbrief .texttoggle .toggle-icon2{
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

section .prowrappers .rightbrief .text-description,
section .prowrappers .rightbrief .text-description2{
    display: none;
    padding: 0 30px 0px;
}

section .prowrappers .rightbrief .text-description{
    margin-bottom: 30px;
}

section .prowrappers .rightbrief .text-description.hide,
section .prowrappers .rightbrief .text-description2.hide{
    display: block;
}

section .prowrappers .rightbrief .text-description2.hide{
    display: block;
 }

section .prowrappers .rightbrief .qtydetails .qtynumbers{
    display:flex;
 }

section .prowrappers .rightbrief .qtydetails .stock{
    color: red;
    display: flex;
    margin-top: 10px;
 }

section .prowrappers .rightbrief .qtydetails .stock img{
    width: 20px;
    height: 20px;
 }

section .prowrappers .rightbrief .colordetails{
    height: 100px;
    margin: 30px 0 30px;
    padding-left: 30px;
 }

section .prowrappers .rightbrief .colordetails h1{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
 }

section .prowrappers .rightbrief .colordetails .bgcolor{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ae5761;
    margin-bottom: 20px;
 }

section .prowrappers .rightbrief .sizedetails{
    position: relative;
    height: 100px;
    margin-bottom: 20px;
    padding-left: 30px;
 }

section .prowrappers .rightbrief .sizedetails .sizeguide{
    position: absolute;
    top: 0;
    right: 50px;
    font-weight: 800;
    border-bottom: 3px solid #333;

}

.modal{
        position: fixed;
        top: 0;
        left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
}

.modal .bgoverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .modalBox {
    position: absolute;
    background-color: #fff;
    width: 600px;
    height: 200px;
    padding: 15px;
    text-align: center;
  }

  .modalBox p{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
    
  }

  .modalBox ul{
display: flex;
}

.modalBox ul li{
width: calc(100%/4);
}

.modalBox ul li strong{
   font-weight: 800;
   font-size: 15px;
    }
    

  .modalBox .closebtn {
    position: absolute;
    top: 13px;
    right: 15px;
  }

  .hidden{
      display: none;
  }

  .stop-scroll{
    overflow-y: hidden;
  }

section .prowrappers .rightbrief .sizedetails h1{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
 }
section .prowrappers .rightbrief .sizedetails span{
    border: 3px solid #333;
    padding: 10px;
 }

section .prowrappers .rightbrief .qtydetails{
    height: 130px;
    padding-left: 30px;
}

section .prowrappers .rightbrief .qtydetails h1{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
}

section .prowrappers .rightbrief .qtydetails .qtynumbers input{
    width: 40px;
    height: 40px;
    font-size: 30px;
    font-weight: 800;
    background-color: #fff;
    border: 3px solid #333;
}

section .prowrappers .rightbrief .qtydetails .qtynumbers #result{
    font-size: 30px;
    padding: 0 10px 0;
    font-weight: 800;
}

section .prowrappers .rightbrief .pricedetails{
    height: 100px;
    padding-left: 30px;
}

section .prowrappers .rightbrief .pricedetails h1{
 font-size: 50px;
 font-weight: 800;
 padding-top: 20px;
}

section .prowrappers .rightbrief .onlinebtn{
    height: 100px;
    background-color: #ae5761;
    margin-top: 10px;
    border-top: 5px solid #333;
    border-bottom: 5px solid #333;
}

section .prowrappers .rightbrief .onlinebtn a{
    width: 100%;
    height: 100%;
    color: #333;
    font-size: 65px;
    text-align: center;
    padding-top: 10px;
    font-weight: 800;
}

section .prowrappers .rightbrief .onlinebtn:hover a{
    color: #fff;
}

/* FOOTER SECTION */


footer .flogo{
    margin: 20px 0 10px 0px;
}

footer .fmenu{
    display: flex;
}

footer .fmenu li+li{
    margin-left: 15px;
}

footer .fmenu li:last-child{
    margin-left: none;
}

footer .fmenu li a{
    font-size: 25px;
    font-weight: 800;
}

footer p{
    margin: 10px 0 20px 0;
    font-weight: 600;
}

#go-top{
    width: 42px;
    height: 42px;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 81;
}